<meta name="dj4e" content="dbad2066681ee9062972ae33e0be6d7d">

{% extends "base_bootstrap.html" %}

{% block content %}

<h1>All makes</h1>


{% if make_list %}
<ul>
    {% for make in make_list %}
      <li>
          {{ make.name }}
          (<a href="{% url 'autos:make_update' make.id %}">Update</a> |
            <a href="{% url 'autos:make_delete' make.id %}">Delete</a>)
      </li>
    {% endfor %}

{% else %}
    <p>There are no makes.</p>
{% endif %}


<p>
<a href="{% url 'autos:make_create' %}">Add a make</a>
</p>
<p>
    <a href="{% url 'autos:all' %}">Go back</a>
</p>






{% endblock %}